.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:3rem;
    background-color: #E9ECEF;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    z-index: 10;
    border-radius: 2px;

}



.headerUserBtn{
    width: 36px;
    height: 36px;
    background: transparent;

}
.logo {
    height: 39px;
    width: 123px;
}

